<!DOCTYPE html>
<html>
<head>
    <title>OAuth2 Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>OAuth2 Service</h1>
        <p>Welcome to the OAuth2 service. Please log in with Google to continue.</p>
        <a href="/auth/google/login" class="btn btn-primary">Log in with Google</a>
    </div>
</body>
</html>